<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #2e2e2e;
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: 100vw;
        }

        .header {
            height: 10vh;
            background-color: #aa00ff73;
            text-align: center;
        }

        .header .title {
            background: none;
            width: fit-content;
            border: none;
            font-size: 2.3rem;
            text-align: center;
            color: white;
        }

        .chat-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            flex-grow: 1;
            overflow: hidden;
        }

        .chat-box {
            padding: 20px;
            height: 100%;
            overflow-y: auto;
            color: white;
        }

        .chat-box .mp {
            font-size: 3rem;
            text-align: center;
            position: relative;
            top: 45%;
            font-family: "Pixelify Sans", sans-serif;
        }

        .message {
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            width: fit-content;
        }

        .ai-message {
            width: 90%;
            padding: 1%;
            border-radius: 10px;
            display: flex;
            margin-bottom: 10px;
        }

        .user-message {
            width: 90%;
            text-align: right;
            padding: 1%;
            border-radius: 10px;
            display: flex;
            margin-bottom: 10px;
        }

        .bot-message {
            background-color: #f4f4f4;
            align-self: flex-start;
        }

        #chat-input {
            padding: 10px;
            display: flex;
            justify-content: space-around;
        }

        input[type="text"] {
            width: 70%;
            padding: 20px;
            border: 1px solid black;
            font-size: 1.3rem;
            border-radius: 5px;

        }

        .send-btn {
            background-color: #7614fe;
            color: white;
            padding: 10px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        .send-btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>

    <div class="header">
        <input type="text" class="title" id="title" value="New Chat 1" autocomplete="off">
    </div>

    <div class="chat-container">
        <div class="chat-box" id="chat-box">
            <p id="h2" class="mp">How can I help you today?</p>
        </div>
        <form id="chat-input">
            <input type="text" id="user_input" placeholder="Type your message..." autocomplete="off">
            <button class="send-btn" type="submit">Generate</button>
        </form>
    </div>

</body>
<script>
    const chatBox = document.getElementById('chat-box');
    const form = document.getElementById('chat-input');
    const user_input = document.getElementById('user_input');
    const chat_title = document.getElementById('title');

    form.addEventListener('submit', function (event) {
        if (user_input.value) {
            const h2 = document.getElementById('h2');
            if (h2)
                h2.style.display = 'none';
            event.preventDefault();
            handleFormSubmit();
        }
    });
    const session = "<%= session %>";

    function loadChatHistory() {
        fetch('/chat/get_chat_history', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ session }),
        })

            .then(response => response.json())
            .then(data => {
                if (data.status != 'notFound') {
                    const chatHistoryDiv = document.getElementById('chat-box');
                    const h2 = document.getElementById('h2');
                    h2.style.display = 'block';
                    chat_title.value = data.title;
                    chatHistoryDiv.innerHTML = '';
                    if (data.history && data.history.length > 0) {
                        data.history.forEach(chat => {
                            appendMessage('user', chat.prompt);
                            appendMessage('ai', chat.response);
                        });
                    }
                }
            })
            .catch(error => {
                console.error('Error fetching chat history:', error);
            });
    }
    if (session) {
        loadChatHistory();
    }

    chat_title.addEventListener('blur', () => {
        const newTitle = chat_title.value.trim();

        if (newTitle) {
            const sessionId = window.location.pathname.split('/').pop();

            fetch('http://localhost:3000/chat/update-title', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    sessionId: sessionId,
                    newTitle: newTitle
                })
            })
                .then(response => {
                    if (!response.ok) {
                        console.error('Failed to update title');
                    }
                })
                .catch(error => {
                    console.error('Error updating title:', error);
                });
        } else {
            console.error('Title cannot be empty');
        }
    });


    function handleFormSubmit(event) {
        const prompt = document.getElementById('user_input').value.trim();
        const title = chat_title.value;

        if (prompt) {
            const formData = new FormData();
            formData.append('conversationTitle', title);
            formData.append('prompt', prompt);
            appendMessage('user', prompt);
            sendPrompt(formData);
            document.getElementById('user_input').value = '';
        } else {
            console.error('Prompt is empty!');
        }
    }

    function sendPrompt(formData) {
        const xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:3000/chat/ai-response/');
        xhr.onload = function () {
            if (xhr.status === 200) {
                const response = JSON.parse(xhr.responseText);
                appendMessage('ai', response.response);
                if (!window.location.pathname.includes(response.sessionId)) {
                    const newUrl = `/chat/${response.sessionId}`;
                    window.history.replaceState({ path: newUrl }, '', newUrl);
                }
            } else {
                console.error('Request failed. Status: ' + xhr.status);
            }
        };
        xhr.send(formData);

    }

    function appendMessage(sender, message) {
        const messageElement = document.createElement('div');
        messageElement.classList.add(sender + '-message');

        if (sender == "user") {
            messageElement.innerHTML = "<p>You: " + message + "</p>";
        } else {
            messageElement.innerHTML = "<p>T-MLM: " + message + "</p>";
        }

        chatBox.appendChild(messageElement);
        chatBox.scrollTop = chatBox.scrollHeight;
    }

</script>

</html>