<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= name %>
    </title>
    <link rel="stylesheet" href="../static/profile.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap">
</head>

<body>

    <header>
        <div class="logo" onclick="window.location='/'">
            <img src="../assets/Logo.png" alt="logo of omneria">
        </div>
    </header>
    <div class="container">
        <h1 class="greeting"> <span>Hello!</span>
            <spam class="ta">
                <%= name %>
            </spam>
        </h1>

        <div class="details">
            <P class="personal">
            <h2 id="tc"><span>NAME</span>: <%= name %>
                    </P>
                    <P class="personal"><span>EMAIL</span>: <%= email %>
            </h2>
            </P>
            <div id="logout">
                <div class="downbtn">
                    <h2 id="lt"> logout</h2>
                    <p id="clr">logout of your account</p>
                </div>
                <button id="logoutBtn" class="lb">LOGOUT</button>
            </div>
            <div id="clear" class="bc">
                <div class="downbtn">
                    <h2 class="fs"> clear </h2>
                    <p class="fs">clear your chats</p>
                </div><button id="clearDataBtn" class="db">CLEAR DATA</button>
            </div>

            <div id="delete" class="bc">
                <div class="downbtn">
                    <h2 class="fs"> delete</h2>
                    <p class="fs">account delete</p>
                </div><button id="deleteAccountBtn" class="db">DELETE ACCOUNT</button>
            </div>

        </div>

        <div id="confirmModal" class="modal">
            <div class="modal-content">
                <p>Are you sure want to delete your account?</p>
                <button id="confirmDelete">Yes</button>
                <button id="cancelDelete">No</button>
            </div>
        </div>


        <div id="confirmModal2" class="modal2">
            <div class="modal-content2">
                <p>Are you sure want to delete your Conversation data?</p>
                <button id="confirmDelete2">Yes</button>
                <button id="cancelDelete2">No</button>
            </div>
        </div>


        <script>

            function showConfirmModal() {
                document.getElementById("confirmModal").style.display = "flex";
            }
            function showConfirmModal2() {
                document.getElementById("confirmModal2").style.display = "flex";
            }
            document.getElementById("cancelDelete").onclick = function () {
                document.getElementById("confirmModal").style.display = "none";
            };

            document.getElementById("confirmDelete").onclick = function () {
                deleteAccount();
                document.getElementById("confirmModal").style.display = "none";
            };

            document.getElementById("cancelDelete2").onclick = function () {
                document.getElementById("confirmModal2").style.display = "none";
            };

            document.getElementById("confirmDelete2").onclick = function () {
                clearData();
                document.getElementById("confirmModal2").style.display = "none";
            };
            function clearData() {

                fetch('https://17ndjjzq-3000.inc1.devtunnels.ms/chat/clear-data', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },

                })
                    .then(response => {
                        if (!response.ok) {
                            console.error('Failed to delete data');
                        }
                    })
                    .catch(error => {
                        console.error('Error deleting data:', error);
                    });
            }


            document.getElementById('logoutBtn').addEventListener('click', function () {
                fetch('https://17ndjjzq-3000.inc1.devtunnels.ms/logout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },

                })
                    .then(response => {
                        if (response.ok) {
                            window.location = '/';
                        } else {
                            console.error('Failed to logout');
                        }
                    })
                    .catch(error => {
                        console.error('Error loggin out:', error);
                    });
            });
            function deleteAccount() {
                fetch('https://17ndjjzq-3000.inc1.devtunnels.ms/kill-account', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },

                })
                    .then(response => {
                        if (response.ok) {
                            window.location = '/';
                        } else {
                            console.error('Failed to kill account');
                        }
                    })
                    .catch(error => {
                        console.error('Error killing account:', error);
                    });
            }
            document.getElementById('deleteAccountBtn').addEventListener('click', showConfirmModal);
            document.getElementById('clearDataBtn').addEventListener('click', showConfirmModal2);
        </script>
</body>

</html>