body {
    margin: 0;
    padding: 0;
    background-color: #12102c;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #2C3E50;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;
}

.logo {
    height: 50%;
}

.logo img {
    height: 100%;
    object-fit: contain;
}

.header h1 {
    flex-grow: 1;
    text-align: center;
    font-size: 2.7em;
    font-family: 'Pixelify Sans', sans-serif;
    text-align: center;
}

.profile-btn {
    color: #000000;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;

}

.profile-btn img {
    height: 100%;
    object-fit: contain;
}

.dashboard {
    width: 100vw;
    height: 80vh;
}

.dashboard .dashboard_init {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
}

.dashboard_init button {
    background: linear-gradient(to left, #9EBBFF, #EDC83C);
    border: none;
    width: 20%;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    height: 10%;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Pixelify Sans', sans-serif;
}

.dashboard_chats {
    width: 98vw;
    padding: 2%;
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 5%;
    box-sizing: border-box;
    grid-auto-rows: minmax(100px, auto);
}

.newChat {
    cursor: pointer;
}

.chats {
    width: 100%;
    height: 30vh;
    background-color: #82a9cf;
    border-radius: 5px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Pixelify Sans', sans-serif;
    padding: 2%;
}

.chats {
    margin: 0;
}

.chats p {
    margin: 0;
}

.bin-div {
    position: relative;
    width: 7%;
    height: 10%;
    bottom: 57%;
    left: 43%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 5px;
}

.bin-div:hover {
    background-color: #ff2b2b;
}

.bin {
    height: 100%;
    object-fit: contain;
}

.chats button {
    width: 40%;
    height: 20%;
    background: linear-gradient(to left, #9EBBFF, #EDC83C);
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.3rem;
}

.new-1 {
    background-color: red;
    width: 3%;
    height: 25%;
    border-radius: 20px;
}

.new-2 {
    position: relative;
    bottom: 25%;
    background-color: red;
    width: 20%;
    height: 4%;
    border-radius: 20px;
    z-index: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #2C3E50;
    margin: auto;
    padding: 1%;
    color: white;
    border: 1px solid #888;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    height: 18vh;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.modal-content p {
    font-size: 1.2rem;
    font-family: 'Pixelify Sans', sans-serif;
}

.modal-content button {
    background-color: #ffffff;
    width: 40%;
    color: rgb(0, 0, 0);
    height: 20%;
    border-radius: 4px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
}

.modal-content #confirmDelete:hover {
    background-color: rgb(255, 48, 48);
}

@media (max-width: 768px) {
    body {
        height: 90vh;
    }

    .header {
        height: 10vh;
        width: 100vw;
    }

    .logo {
        height: 50%;
    }

    .header h1 {
        font-size: 2.8rem;
        width: 90%;
        margin-right: 0px;
        font-size: 1.3em;
    }

    .header .profile-btn {
        height: 50%;
    }

    .dashboard {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .dashboard .dashboard_init {
        width: 100%;
    }

    .dashboard .dashboard_init button {
        width: 70%;
    }

    .new-1 {
        width: 3%;
        height: 25%;
    }

    .new-2 {
        bottom: 25%;
        width: 15%;
        height: 5%;
    }

    .dashboard_chats {
        width: 100vw;
    }

    .chats {
        width: 80%;
        height: 25vh;
        margin: 10px 20px;
    }

    .chats h2 {
        font-size: 1.2rem;
    }

    .bin-div {
        width: 5%;
        bottom: 52%;
        left: 43%;
    }
}

@media (max-width: 480px) {
    body {
        height: 90vh;
    }

    .header {
        height: 8vh;
        width: 100vw;
    }

    .logo {
        height: 50%;
    }

    .header h1 {
        font-size: 1.3rem;
        width: 80%;
        margin-right: 0px;
        font-size: 1.3em;
    }

    .header .profile-btn {
        height: 50%;
    }

    .dashboard .dashboard_init {
        width: 100%;
    }

    .dashboard_init h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .dashboard .dashboard_init button {
        width: 70%;
    }

    .new-1 {
        width: 2%;
        height: 25%;
    }

    .new-2 {
        bottom: 21%;
        width: 12%;
        height: 5%;
    }

    .dashboard_chats {
        padding: 5%;
        box-sizing: border-box;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .chats {
        width: 90%;
        height: 17vh;
        margin: 10px 10px;
    }

    .chats button {
        width: 30%;
        font-size: 1rem;
        padding: 1%;
    }

    .bin-div {
        width: 5%;
        bottom: 52%;
        left: 43%;
    }
}